{% extends "base.html" %} {% block title %} About {% endblock %}
{% load static %}
{% block content %}
<h1>Hi! I&#39;m Dylan.</h1>
<div class="about">
    <h1>I’m a 22 year-old computer science student and artist based in Maryland, USA.</h1>
    <p>I have been drawing for essentially my whole life, but I have seriously gotten into digital illustration since 2017. 
        Ever since 2019, I have focused more of my art around anthropomorphic animals.</p>
    <p>If you have any questions or business inquiries, feel free to contact me at the social media links listed at the header!</p>
</div>
{% endblock %}