{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Django App
      {% endblock %}
    </title>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  rel="stylesheet" />-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <ul class="nav-section nav-left">
          <li>
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li>
            <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
          </li>
          <li>
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li>
            <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
          </li>
          <li>
            <a class="nav-link" href="#">Commissions</a>
          </li>
        </ul>
        <div class="logo">
            <a href="{% url 'home' %}">
            <img id="dylarts" src="{% static 'navbar/dylarts_title.png' %}" alt="Logo">
            </a>
        </div>
        <ul class="nav-section nav-right">
          <li>
            <a class="social-icon" href="#">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
          <li>
            <a class="social-icon" href="#">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
          <li>
            <a class="social-icon" href="#">
              <i class="fa-brands fa-youtube"></i>
            </a>
          </li>
          <li>
            <a class="social-icon" href="#">
              <i class="fa-brands fa-discord"></i>
            </a>
          </li>
          <li>
            <a class="nav-link" href="#">
              <i class="fa-brands fa-tiktok"></i>
            </a>
          </li>
          <li>
            <a class="nav-link" href="#">
              <i class="fa-brands fa-square-bluesky"></i>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="container">{% block content %} {% endblock %}</div>
  </body>
</html>